<!DOCTYPE html>
<html lang="ko">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <link rel="stylesheet" href="css/reset.css">
  <link rel="stylesheet" href="css/main.min.css">
  <title>보배드림</title>
</head>
<body>
  <div class="wrap" id="main">
    <!-- <pre>{{$data}}</pre> -->
    <header>
      <!-- header top -->
      <div class="inner-wrap">
        <div class="top-header">
          <h1 class="logo font-0">보배드림 국내 1위 자동차 쇼핑몰</h1>
          <div class="top-header-right">
              <div class="top-nav">
                <ul>
                  <li><a href="#">로그인</a></li>
                  <li><a href="#">회원가입</a></li>
                  <li><a href="#">사이버매장 차량등록</a></li>
                  <li><a href="#">고객센터</a></li>
                  <li><a href="#">마이페이지</a></li>
                </ul>
              </div>
              <div class="top-icon">
                <ul>
                  <li class="top-icon__history"><a href="#">history</a></li>
                  <li class="top-icon__user-item"><a href="#">즐겨찾기</a></li>
                </ul>
              </div>
              <div class="top-banner">
                <a href="#"><img src="image/banner_cyber.png" alt="사이버매장 광고신청 바로가기"></a>
              </div>
          </div>
        </div>
      </div>
      <!-- nav -->
      <nav>
        <div class="inner-wrap">
          <div class="main-nav">
            <ul class="main-list">
              <li>
                <a href="#">사이버매장</a>
                <ul class="sub-list sub-list-2line">
                  <li><a href="#">전체매물</a></li>
                  <li><a href="#">국산차 매장</a></li>
                  <li><a href="#">수입차 매장</a></li>
                  <li><a href="#">승용차 매장</a></li>
                  <li><a href="#">스포츠카 매장</a></li>
                  <li><a href="#">RV/SUV 매장</a></li>
                  <li><a href="#">밴/승합차 매장</a></li>
                  <li><a href="#">픽업/트럭 매장</a></li>    
                  <li><a href="#">캠핑카 매장</a></li>
                  <li><a href="#">튜닝카 매장</a></li>
                  <li><a href="#">올드카 매장</a></li>
                  <li><a href="#">슈퍼카 매장</a></li>
                  <li><a href="#">희귀차 매장</a></li>
                  <li><a href="#">오토갤러리 매장</a></li>
                </ul>
              </li>
              <li>
                <a href="#">국산차</a>
                <ul class="sub-list">
                  <li><a href="#">국산차검색</a></li>
                  <li><a href="#">튜닝카검색</a></li>
                  <li><a href="#">리스승계차량</a></li>
                  <li><a href="#">사이버매장</a></li>
                </ul>
              </li>
              <li>
                <a href="#">수입차</a>
                <ul class="sub-list">
                  <li><a href="#">수입차검색</a></li>
                  <li><a href="#">튜닝카검색</a></li>
                  <li><a href="#">리스승계차량</a></li>
                  <li><a href="#">사이버매장</a></li>
                </ul>
              </li>
              <li><a href="#">튜닝카</a></li>
              <li><a href="#">중고차시세</a></li>
              <li>
                <a href="#">커뮤니티</a>
                <ul class="sub-list sub-list-3line">
                  <li><a href="#">베스트글</a></li>
                  <li><a href="#">자유게시판</a></li>
                  <li><a href="#">시승가배틀목격담</a></li>
                  <li><a href="#">유명인의자</a></li>
                  <li><a href="#">시사이슈</a></li>
                  <li><a href="#">자동차뉴스</a></li>
                  <li><a href="#">보배드림 이야기</a></li>
                  <li><a href="#">제안건의</a></li>    
                  <li><a href="#">이벤트</a></li>
                  <li><a href="#">유머게시판</a></li>
                  <li><a href="#">교통사고사건블박</a></li>
                  <li><a href="#">국산차게시판</a></li>
                  <li><a href="#">수입차게시판</a></li>
                  <li><a href="#">내차사진</a></li>
                  <li><a href="#">직찍특종발견</a></li>
                  <li><a href="#">자동차사진동영상</a></li>
                  <li><a href="#">장착시공사진</a></li>
                  <li><a href="#">자유사진동영상</a></li>
                  <li><a href="#">레이싱모델</a></li>
                  <li><a href="#">군사무기</a></li>
                </ul>
              </li>
              <li><a href="#">내차팔기</a></li>
              <li><a href="#">오토바이</a></li>
              <li><a href="#">중고장터</a></li>
              <li><a href="#">업체검색</a></li>
            </ul>
          </div>
          <!-- //main-nav -->

          <!-- 상단바 icon -->
          <div class="main-icon">
            <ul>
              <li class="search-wrap">
                <div class="nav-search"><input type="text"></div>
                <button type="button" class="font-0 btn-search">검색하기</button>
              </li>
              <li class="menu-btn-wrap"><button type="button" class="font-0 btn-menu">전체메뉴</button></li>
            </ul>
          </div>
        </div>
          <!-- 전체메뉴 -->
          <div class="all-nav">
            <div class="inner-wrap">
              <ul class="all-nav-main">
                <li>
                  <a href="#">사이버매장</a>
                  <ul class="all-nav-sub">
                    <li><a href="#">국산차매장</a></li>
                    <li><a href="#">전체매물</a></li>
                    <li><a href="#">국산차매장</a></li>
                    <li><a href="#">수입차매장</a></li>
                    <li><a href="#">승용차매장</a></li>
                    <li><a href="#">스포츠카매장</a></li>
                    <li><a href="#">RV/SUV매장</a></li>
                    <li><a href="#">밴/승합차매장</a></li>
                    <li><a href="#">픽업/트럭매장</a></li>    
                    <li><a href="#">캠핑카매장</a></li>
                    <li><a href="#">튜닝카매장</a></li>
                    <li><a href="#">올드카매장</a></li>
                    <li><a href="#">슈퍼카매장</a></li>
                    <li><a href="#">희귀차매장</a></li>
                    <li><a href="#">오토갤러리매장</a></li>
                  </ul>
                </li>
                <li>
                  <a href="#">국산차</a>
                  <ul class="all-nav-sub">
                    <li><a href="#">국산차매장</a></li>
                    <li><a href="#">전체매물</a></li>
                    <li><a href="#">국산차매장</a></li>
                    <li><a href="#">수입차매장</a></li>
                    <li><a href="#">승용차매장</a></li>
                    <li><a href="#">스포츠카매장</a></li>
                    <li><a href="#">RV/SUV매장</a></li>
                  </ul>
                </li>
                <li>
                  <a href="#">수입차</a>
                  <ul class="all-nav-sub">
                    <li><a href="#">국산차매장</a></li>
                    <li><a href="#">전체매물</a></li>
                    <li><a href="#">국산차매장</a></li>
                    <li><a href="#">수입차매장</a></li>
                    <li><a href="#">승용차매장</a></li>
                    <li><a href="#">스포츠카매장</a></li>
                    <li><a href="#">RV/SUV매장</a></li>
                  </ul>
                </li>
                <li>
                  <a href="#">내차필기</a>
                  <ul class="all-nav-sub">
                    <li><a href="#">국산차매장</a></li>
                    <li><a href="#">전체매물</a></li>
                    <li><a href="#">국산차매장</a></li>
                    <li><a href="#">수입차매장</a></li>
                    <li><a href="#">승용차매장</a></li>
                    <li><a href="#">스포츠카매장</a></li>
                  </ul>
                </li>
                <li>
                  <a href="#">오토바이</a>
                  <ul class="all-nav-sub">
                    <li><a href="#">국산차매장</a></li>
                    <li><a href="#">전체매물</a></li>
                    <li><a href="#">국산차매장</a></li>
                    <li><a href="#">수입차매장</a></li>
                    <li><a href="#">승용차매장</a></li>
                    <li><a href="#">스포츠카매장</a></li>
                    <li><a href="#">RV/SUV매장</a></li>
                    <li><a href="#">밴/승합차매장</a></li>
                    <li><a href="#">픽업/트럭매장</a></li>    
                    <li><a href="#">캠핑카매장</a></li>
                    <li><a href="#">튜닝카매장</a></li>
                    <li><a href="#">올드카매장</a></li>
                  </ul>
                </li>
                <li>
                  <a href="#">협력업체</a>
                  <ul class="all-nav-sub">
                    <li><a href="#">국산차매장</a></li>
                    <li><a href="#">전체매물</a></li>
                    <li><a href="#">튜닝카매장</a></li>
                    <li><a href="#">올드카매장</a></li>
                    <li><a href="#">슈퍼카매장</a></li>
                    <li><a href="#">희귀차매장</a></li>
                    <li><a href="#">오토갤러리매장</a></li>
                  </ul>
                </li>
  
                <li>
                  <a href="#">중고장터</a>
                  <ul class="all-nav-sub">
                    <li><a href="#">승용차매장</a></li>
                    <li><a href="#">스포츠카매장</a></li>
                    <li><a href="#">RV/SUV매장</a></li>
                    <li><a href="#">밴/승합차매장</a></li>
                    <li><a href="#">픽업/트럭매장</a></li>    
                    <li><a href="#">캠핑카매장</a></li>
                    <li><a href="#">튜닝카매장</a></li>
                    <li><a href="#">올드카매장</a></li>
                    <li><a href="#">슈퍼카매장</a></li>
                    <li><a href="#">희귀차매장</a></li>
                    <li><a href="#">오토갤러리매장</a></li>
                  </ul>
                </li>
                <li>
                  <a href="#">게시판</a>
                  <ul class="all-nav-sub">
                    <li><a href="#">국산차매장</a></li>
                    <li><a href="#">전체매물</a></li>
                    <li><a href="#">스포츠카매장</a></li>
                    <li><a href="#">RV/SUV매장</a></li>
                    <li><a href="#">밴/승합차매장</a></li>
                    <li><a href="#">픽업/트럭매장</a></li>    
                    <li><a href="#">슈퍼카매장</a></li>
                    <li><a href="#">희귀차매장</a></li>
                    <li><a href="#">오토갤러리매장</a></li>
                  </ul>
                </li>
                <li>
                  <a href="#">자료실</a>
                  <ul class="all-nav-sub">
                    <li><a href="#">국산차매장</a></li>
                    <li><a href="#">전체매물</a></li>
                    <li><a href="#">스포츠카매장</a></li>
                    <li><a href="#">RV/SUV매장</a></li>
                    <li><a href="#">밴/승합차매장</a></li>
                    <li><a href="#">픽업/트럭매장</a></li>    
                    <li><a href="#">슈퍼카매장</a></li>
                    <li><a href="#">희귀차매장</a></li>
                    <li><a href="#">오토갤러리매장</a></li>
                  </ul>
                </li>
                <li>
                  <a href="#">테마별</a>
                  <ul class="all-nav-sub">
                    <li><a href="#">국산차매장</a></li>
                  </ul>
                </li>
              </ul>
            </div>
          </div>
      </nav>
    </header>
    <!-- //header -->

    <!-- 본문 -->
    <section class="main-content">
      <div class="inner-wrap main-content-inner">
        <section class="main-content__left">
          <!-- 특종매물 -->
          <div class="main-content__special">
            <ul>
              <li v-for="content in mainSpeciaRendomlData">
                <h2>{{ content.title }}</h2>
                <a :href="content.link">
                  <span class="special-image"><img :src="'image/' + content.image" :alt="content.txt"></span>          
                  <p class="special-txt">{{ content.txt }}</p>
                </a>
              </li>
            </ul>

            <div class="main-cyber-ad">
              <p>사이버매장에 차량을 등록하면 내차를 가장 빨리 제 값 받고 팔 수 있습니다.</p>
              <p class="cyber-tel">차량광고 신청/상담전화 <span>02-784-2329</span><a href="#">인터넷으로 신청하기</a></p>
            </div>
          </div>

          <!-- 사이버매장 베스트카 -->
          <div class="main-content__best">
            <h2>사이버매장 베스트카</h2>
            <ul>
              <li v-for="(best,idx) in mainBestCarData">
                <a :href="best.link">
                  <img class="best-item" :src="'image/best/'+best.image" :alt="best.title">
                </a>
                <div class="best-dim">
                  <span class="best-number">{{idx + 1}}</span>
                  <span class="best-title">{{ best.title }}</span>
                </div>
              </li>
            </ul>
            <a class="btn__best-more" href="#">+ 더보기</a>
          </div>

          <!-- 보배에서만 볼수 있는 희귀차 -->
          <div class="main-content__rare">
            <h2>보배에서만 볼 수 있는 희귀차</h2>
            <ul class="rare-tab">
              <li :class="{on : rareTabOn === 'rare'}" @click="rareTabOn = 'rare'">
                <span class="rare-tab-item">#희소차량</span>          
                <ul class="rare-item-list" v-show="rareTabOn === 'rare'">
                  <li v-for="rare in mainRareCarData[0]">
                    <a :href="rare.link">
                      <span><img :src="'image/rare/' + rare.image" :alt="rare.title"></span>
                      <span class="item-dim">{{ rare.title }}</span>
                    </a>
                  </li>
                </ul>
              </li>
              <li :class="{on : rareTabOn === 'super'}" @click="rareTabOn = 'super'">
                <span class="rare-tab-item">#슈퍼카</span>                
                <ul class="rare-item-list" v-show="rareTabOn === 'super'">
                  <li v-for="rare in mainRareCarData[1]">
                    <a :href="rare.link">
                      <span><img :src="'image/rare/' + rare.image" :alt="rare.title"></span>
                      <span class="item-dim">{{ rare.title }}</span>
                    </a>
                  </li>
                </ul>
              </li>
              <li :class="{on : rareTabOn === 'tuning'}" @click="rareTabOn = 'tuning'">
                <span class="rare-tab-item">#튜닝카</span>                
                <ul class="rare-item-list" v-show="rareTabOn === 'tuning'">
                  <li v-for="rare in mainRareCarData[2]">
                    <a :href="rare.link">
                      <span><img :src="'image/rare/' + rare.image" :alt="rare.title"></span>
                      <span class="item-dim">{{ rare.title }}</span>
                    </a>
                  </li>
                </ul>
              </li>
              <li :class="{on : rareTabOn === 'old'}" @click="rareTabOn = 'old'">
                <span class="rare-tab-item">#올드카</span>                
                <ul class="rare-item-list" v-show="rareTabOn === 'old'">
                  <li v-for="rare in mainRareCarData[3]">
                    <a :href="rare.link">
                      <span><img :src="'image/rare/' + rare.image" :alt="rare.title"></span>
                      <span class="item-dim">{{ rare.title }}</span>
                    </a>
                  </li>
                </ul>
              </li>
              <li :class="{on : rareTabOn === 'camping'}" @click="rareTabOn = 'camping'">
                <span class="rare-tab-item">#캠핑카</span>                
                <ul class="rare-item-list" v-show="rareTabOn === 'camping'">
                  <li v-for="rare in mainRareCarData[4]">
                    <a :href="rare.link">
                      <span><img :src="'image/rare/' + rare.image" :alt="rare.title"></span>
                      <span class="item-dim">{{ rare.title }}</span>
                    </a>
                  </li>
                </ul>
              </li>
              <li>
                <span class="rare-tab-item">#픽업트럭</span>
                
              </li>
              <li>
                <span class="rare-tab-item">#스포츠카</span>
              </li>
              <li>
                <span class="rare-tab-item">#수입차</span>
              </li>
              <li>
                <span class="rare-tab-item">#동영상</span>
              </li>
              <li>
                <span class="rare-tab-item">#오토갤러리</span>
              </li>
            </ul>
          </div>
        </section>

        <section class="main-content__right">
          <!-- 커뮤니티 베스트 -->
          <div class="main-content__community">
            <h2>커뮤니티 베스트</h2>
            <a class="community-more" href="#">더보기</a>
            <ul class="community-tab">
              <li @click="communityTabOn = 0" :class="{on : communityTabOn === 0}" >
                <span>1~10위</span>
                <ul class="community-list" v-show="communityTabOn === 0">
                  <li v-for="(community , idx) in mainRareCarData[0]">
                    <a :href="community.link"><span>{{idx + 1}}</span>{{ community.title }}</a>
                  </li>
                </ul>
              </li>
              <li @click="communityTabOn = 1" :class="{on : communityTabOn === 1}">
                <span>11~20위</span>
                <ul class="community-list" v-show="communityTabOn === 1">
                  <li v-for="(community , idx) in mainRareCarData[1]">
                    <a :href="community.link"><span>{{idx + 1}}</span>{{ community.title }}</a>
                  </li>
                </ul>
              </li>
              <li @click="communityTabOn = 2" :class="{on : communityTabOn === 2}">
                <span>어제</span>
                <ul class="community-list" v-show="communityTabOn === 2">
                  <li v-for="(community , idx) in mainRareCarData[2]">
                    <a :href="community.link"><span>{{idx + 1}}</span>{{ community.title }}</a>
                  </li>
                </ul>
              </li>
              <li @click="communityTabOn = 3" :class="{on : communityTabOn === 3}">
                <span>주간</span>
                <ul class="community-list" v-show="communityTabOn === 3">
                  <li v-for="(community , idx) in mainRareCarData[3]">
                    <a :href="community.link"><span>{{idx + 1}}</span>{{ community.title }}</a>
                  </li>
                </ul>
              </li>
              <li @click="communityTabOn = 4" :class="{on : communityTabOn === 4}">
                <span>댓글순</span>
                <ul class="community-list" v-show="communityTabOn === 4">
                  <li v-for="(community , idx) in mainRareCarData[4]">
                    <a :href="community.link"><span>{{idx + 1}}</span>{{ community.title }}</a>
                  </li>
                </ul>
              </li>
            </ul>
          </div>
          
          <!-- 자동차뉴스 -->
          <div class="main-content__news">
            <h2>자동차 뉴스</h2>
            <a class="community-more" href="#">더보기</a>
            <ul>
              <li>
                <a href="#">
                  <img src="/image/news-thum.jpg" alt="中 북경자동차그룹, 한국시장 진출한다">
                  <span>中 북경자동차그룹,<br>한국시장 진출한다</span>
                </a>
              </li>
              <li><a href="#">‘은밀하게’ 출시된 쉐보레 말리부 하이브리드..왜?</a></li>
              <li><a href="#">르노, 신형 미니밴 트래픽 공개</a></li>
              <li><a href="#">[시승기] ‘혼다센싱’ 적용된 ‘CR-V’</a></li>
            </ul>
          </div>

          <!-- 화제의 블박영상 -->
          <div class="main-content__moive">
            <h2>화제의 불박영상</h2>
            <a class="community-more" href="#">더보기</a>
            <ul>
              <li>
                <a href="#">
                  <img src="/image/video01.jpg" alt="고속도로 사고입니다 과실비율이 궁금합니다">
                  <span>고속도로 사고입니다 과실비율이 궁금합니다</span>
                </a>
              </li>
              <li>
                <a href="#">
                  <img src="/image/video02.jpg" alt="고속도로 사고입니다 과실비율이 궁금합니다">
                  <span>고속도로 사고입니다 과실비율이 궁금합니다</span>
                </a>
              </li>
              <li>
                <a href="#">
                  <img src="/image/video02.jpg" alt="고속도로 사고입니다 과실비율이 궁금합니다">
                  <span>고속도로 사고입니다 과실비율이 궁금합니다</span>
                </a>
              </li>
            </ul>
          </div>

          <!-- 공지사항 -->
          <div class="main-content__notice">
            <h2>공지사항</h2>
            <a class="community-more" href="#">더보기</a>
            <ul>
              <li><a href="#">네이버 ID 간편가입 및 로그인 안내</a></li>
              <li><a href="#">네이버 ID 간편가입 및 로그인 안내</a></li>
              <li><a href="#">네이버 ID 간편가입 및 로그인 안내</a></li>
              <li><a href="#">네이버 ID 간편가입 및 로그인 안내</a></li>
            </ul>
          </div>

          <!-- 매매가이드 -->
          <div class="main-content__guide">
            <h2>매매가이드</h2>
            <a class="community-more" href="#">더보기</a>
            <ul>
              <li><a href="#">중고차시세</a></li>
              <li><a href="#">제원/옵션가격</a></li>
              <li><a href="#">허위매물구별</a></li>
              <li><a href="#">매매서류</a></li>
              <li><a href="#">이전비계싼</a></li>
              <li><a href="#">할부/리스계산</a></li>
              <li><a href="#">자동차세계산</a></li>
              <li><a href="#">보험료계산</a></li>
              <li><a href="#">유지비계산</a></li>
            </ul>
          </div>
        </section>
        <!-- //right -->


      </div>
      <div class="main-content__bottom">
          
        </div>
    </section>
    <!-- //본문 -->

  </div>
  <script src="js/jquery-3.4.0.slim.js"></script>
  <script src="js/vue.min.js"></script>
  <script src="js/data.js"></script>
  <script src="js/main.js"></script>
</body>
</html>