@charset "utf-8";
@import url(http://fonts.googleapis.com/css?family=Orbitron);
$min-width:1200px;



.wrap {
    position:fixed;
    width:100%;
    height:100%;
    min-width:$min-width;
    background:#000 ;
.inner-wrap {
    position:relative;
    width:100%;
    min-width:$min-width;
    height:calc(100% - 30px);
    //background: url(../img/bgLine.png) repeat 0px 0px;
    //opacity:0.1;
    &:after {
        position:absolute;
        top:0;
        left:0;
        content:"";
        width:100%;
        height:100%;
        background: url(../img/bgLine.png) repeat 0px 0px;
        opacity:0.1;
    }
    nav {
        width:100%;
        height:50px;
        position:fixed;
        z-index:3;
        top:50%;
        margin-top:-25px;
        left:0px;
        background:url(../img/tr.png) repeat 0 0;
        &>ul {
            width:1200px;
            height:50px;
            margin:0 auto;
            &>li {
                width:200px;
                height:50px;
                float:left;
                text-align:center;
                box-sizing:border-box;
                position:relative;
                perspective:700px;
                &>a {
                    display:block;
                    width:200px;
                    height:50px;
                    font: 12px/4 orbitron;
                    color:#aaa;
                    transition:all 0.4s;
                }
                &>div {
                    position:absolute;
                    left:0px;
                    top:-50px;
                    width:200px;
                    height:300px;
                    background:url(../img/tr.png) repeat 0 0;
                    border:1px solid #000;
                    box-sizing:border-box;
                    opacity:0;
                    transition:all 0.5s;
                    padding:10px 0;
                    .nav-tit {
                        position:absolute;
                        left:0px;
                        top:100px;
                        width:100%;
                        height:50px;
                        text-align:center;
                        font:bold 12px/3.5 orbitron;
                        color:#fff;
                    }
                    .img-wrap {
                        width:90%;
                        height:90px;
                        margin:0 auto;
                        border:1px solid #333;
                        box-sizing:border-box;
                        overflow:hidden;
                        img {
                            width:100%;
                            opacity:0.5;
                        }
                    }
                    ul {
                        padding:0;
                    }
                    li {
                        a {
                        display:block;
                        width:100%;
                        height:37px;
                        border-top:1px solid #111;
                        color:#ddd;
                        text-align:center;
                        font:11px/2.8 orbitron;
                        color:#888;
                        transition:all 0.4s;

                        }
                        &:first-child {
                            a {
                                margin-top:48px;
                                border:none;
                            }
                        }
                        &:hover {
                            background: #000;
                        }
                    }
                }
                &:hover {
                    div {
                        opacity:1;
                        top:-108px;
                        transform:rotateY(360deg);
                    }
                }
            }
        }
    }//nav

    section {
        position:fixed;
        z-index:2;
        width:100%;
        height:500px;
        min-width:$min-width;
        top:50%;
        margin-top:-250px;
        left:0px;
        overflow:hidden;
        opacity:1;
        &>img {
            width:100%;
            height:auto;
            position:absolute;
            top:-150px;

            left:0px;
        }
    }

        footer {
            position:fixed;
            bottom:0px;
            left:0px;
            min-width:1024px;
            width:100%;
            height:30px;
            background:#010101;
            border-top:1px solid #222;
            z-index:5;
            ul {
                width:40%;
                height:30px;
                float:left;
                margin:3px 0 0 30px;
                li {
                    float:left;
                    width:16.66%;
                    text-align:center;
                    a {
                        font:11px/2 arial;
                        color:#555;
                    }
                    &:first-child {
                        a {
                            font-weight:bold;
                            color:#777;
                        }
                    }
                }
            }
            span {
                font:10px/2 orbitron;
                color:#666;
                float:right;
                letter-spacing:1px;
                margin:4px 40px 0 0
                ;
            }
        }
    }//inner-wrap
 } //wrap
