@import url(http://fonts.googleapis.com/css?family=Orbitron);
.wrap {
  position: fixed;
  width: 100%;
  height: 100%;
  min-width: 1200px;
  background: #000;
}

.wrap .inner-wrap {
  position: relative;
  width: 100%;
  min-width: 1200px;
  height: calc(100% - 30px);
}

.wrap .inner-wrap:after {
  position: absolute;
  top: 0;
  left: 0;
  content: "";
  width: 100%;
  height: 100%;
  background: url(../img/bgLine.png) repeat 0px 0px;
  opacity: 0.1;
}

.wrap .inner-wrap nav {
  width: 100%;
  height: 50px;
  position: fixed;
  z-index: 3;
  top: 50%;
  margin-top: -25px;
  left: 0px;
  background: url(../img/tr.png) repeat 0 0;
}

.wrap .inner-wrap nav > ul {
  width: 1200px;
  height: 50px;
  margin: 0 auto;
}

.wrap .inner-wrap nav > ul > li {
  width: 200px;
  height: 50px;
  float: left;
  text-align: center;
  box-sizing: border-box;
  position: relative;
  perspective: 700px;
}

.wrap .inner-wrap nav > ul > li > a {
  display: block;
  width: 200px;
  height: 50px;
  font: 12px/4 orbitron;
  color: #aaa;
  transition: all 0.4s;
}

.wrap .inner-wrap nav > ul > li > div {
  position: absolute;
  left: 0px;
  top: -50px;
  width: 200px;
  height: 300px;
  background: url(../img/tr.png) repeat 0 0;
  border: 1px solid #000;
  box-sizing: border-box;
  opacity: 0;
  transition: all 0.5s;
  padding: 10px 0;
}

.wrap .inner-wrap nav > ul > li > div .nav-tit {
  position: absolute;
  left: 0px;
  top: 100px;
  width: 100%;
  height: 50px;
  text-align: center;
  font: bold 12px/3.5 orbitron;
  color: #fff;
}

.wrap .inner-wrap nav > ul > li > div .img-wrap {
  width: 90%;
  height: 90px;
  margin: 0 auto;
  border: 1px solid #333;
  box-sizing: border-box;
  overflow: hidden;
}

.wrap .inner-wrap nav > ul > li > div .img-wrap img {
  width: 100%;
  opacity: 0.5;
}

.wrap .inner-wrap nav > ul > li > div ul {
  padding: 0;
}

.wrap .inner-wrap nav > ul > li > div li a {
  display: block;
  width: 100%;
  height: 37px;
  border-top: 1px solid #111;
  color: #ddd;
  text-align: center;
  font: 11px/2.8 orbitron;
  color: #888;
  transition: all 0.4s;
}

.wrap .inner-wrap nav > ul > li > div li:first-child a {
  margin-top: 48px;
  border: none;
}

.wrap .inner-wrap nav > ul > li > div li:hover {
  background: #000;
}

.wrap .inner-wrap nav > ul > li:hover div {
  opacity: 1;
  top: -108px;
  transform: rotateY(360deg);
}

.wrap .inner-wrap section {
  position: fixed;
  z-index: 2;
  width: 100%;
  height: 500px;
  min-width: 1200px;
  top: 50%;
  margin-top: -250px;
  left: 0px;
  overflow: hidden;
  opacity: 1;
}

.wrap .inner-wrap section > img {
  width: 100%;
  height: auto;
  position: absolute;
  top: -150px;
  left: 0px;
}

.wrap .inner-wrap footer {
  position: fixed;
  bottom: 0px;
  left: 0px;
  min-width: 1024px;
  width: 100%;
  height: 30px;
  background: #010101;
  border-top: 1px solid #222;
  z-index: 5;
}

.wrap .inner-wrap footer ul {
  width: 40%;
  height: 30px;
  float: left;
  margin: 3px 0 0 30px;
}

.wrap .inner-wrap footer ul li {
  float: left;
  width: 16.66%;
  text-align: center;
}

.wrap .inner-wrap footer ul li a {
  font: 11px/2 arial;
  color: #555;
}

.wrap .inner-wrap footer ul li:first-child a {
  font-weight: bold;
  color: #777;
}

.wrap .inner-wrap footer span {
  font: 10px/2 orbitron;
  color: #666;
  float: right;
  letter-spacing: 1px;
  margin: 4px 40px 0 0;
}
