$newSemester: (
  pc-image-url: 'https://hongyi.s3.amazonaws.com/static/new-semester/images/pc',
  mo-image-url: 'https://hongyi.s3.amazonaws.com/static/new-semester/images/m',
  popup-image-url:
    'https://hongyi.s3.amazonaws.com/static/new-semester/images/popup'
) !default;
