/* -- slideLeft -- */
@-webkit-keyframes popup__animation--slideLeft-enter {
  from {
    -webkit-transform: translate3d(-150px, 0, 0);
    transform: translate3d(-150px, 0, 0);
  }
}

@keyframes popup__animation--slideLeft-enter {
  from {
    -webkit-transform: translate3d(-150px, 0, 0);
    transform: translate3d(-150px, 0, 0);
  }
}

.popup__animation--slideLeft-enter-active {
  -webkit-animation: popup__animation--slideLeft-enter both
    cubic-bezier(0.4, 0, 0, 1.5);
  animation: popup__animation--slideLeft-enter both cubic-bezier(0.4, 0, 0, 1.5);
}

@-webkit-keyframes popup__animation--slideLeft-leave {
  to {
    -webkit-transform: translate3d(-150px, 0, 0);
    transform: translate3d(-150px, 0, 0);
  }
}

@keyframes popup__animation--slideLeft-leave {
  to {
    -webkit-transform: translate3d(-150px, 0, 0);
    transform: translate3d(-150px, 0, 0);
  }
}

.popup__animation--slideLeft-leave-active {
  -webkit-animation: popup__animation--slideLeft-leave both;
  animation: popup__animation--slideLeft-leave both;
}
